
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url("../imagenes/fondo_web.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 40px;
    max-width: 750px;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-body img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

main {
    flex: 1;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 100px;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 0;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
}

nav{
    padding-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #d27eea;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    box-sizing: border-box;
}

#enlace {
    text-decoration: none;
    color: rgb(107, 27, 142);
}
#Start {
    color: azure;
    text-decoration: none;
}

#Start:hover{
    color: #d27eea;
}

table {
    border-collapse: collapse;
    width: 60%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #8942eb;
    color: white;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #eef;
}

tbody tr:hover {
    background-color: #ba85e3;
    cursor: pointer;
    color: white;
}
